.tbutton{
    width: 200px;
    height: 200px;
    border: 0ch;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.205);
    border-radius: 1%;
    

}
.tbutton:active{
    background-color: rgb(10, 10, 10);
}
.tbutton:hover{
    background-color: rgb(19, 18, 16);
}
.bosluk{
    width: 100px;
}

.girdi{
    width: 200px;
    height: 50px;    
    border: 0ch;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.205);   
}
.girdi:focus{
    outline:none;
    border: 1px solid #eee;
    border-left: 3px solid #3e8e41;
  }
  
.ibuton{
    
    width: 150px;
    height: 50px;
    border: 0ch;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.205);    

}